@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

/* 
===================
Globals
===================
*/
:root {
  --white: #ffffff;
  --transparent: transparent;
  --black-900: #140829;
  --purple-600: #9f75e4;

  --spacing-x-small: 0.125rem;
  --spacing-small: 0.25rem;
  --spacing-medium: 0.5rem;
  --spacing-large: 0.75rem;
  --spacing-x-large: 1rem;
  --spacing-xx-large: 1.25rem;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* 
===================
Layout
===================
*/
.bpw-layout {
  border: none;
  background-color: var(--transparent);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100%;
  visibility: hidden;
  flex-direction: column;
  display: flex;
  padding: var(--spacing-large);
}

/* 
===================
Header
===================
*/
.bpw-header-container {
  display: none;
}

/* 
===================
Composer
===================
*/
.bpw-composer textarea {
  background: var(--white);
  border: none;
  color: var(--black-900);
  font-family: inherit;
  font-size: 0.75rem;
  height: 54px;
  padding: 19px var(--spacing-large) var(--spacing-large);
  resize: none;
  width: 100%;
  margin-right: var(--spacing-small);
}

.bpw-composer textarea:focus {
  border: 1px solid var(--purple-600);
}

/* 
===================
Footer
===================
*/
.bpw-powered {
  display: none;
}

.bpw-chat-bubble-content {
  background-color: var(--white);
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  color: var(--black-900);
}

.bpw-from-user .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
  border-bottom-right-radius: var(--spacing-small);
}

.bpw-from-bot .bpw-chat-bubble:last-of-type .bpw-chat-bubble-content {
  border-bottom-left-radius: var(--spacing-small);
}

.bpw-bot-avatar {
  display: none;
}

.bpw-message-timestamp {
  display: none;
}

